<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Mailman</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <% include ./includes/analytics.ejs %>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-envelope-o"></span> Mailman</h1>

        <p>
          Meet <strong>Mailman</strong>. The priority messenger.<br />
          <span class="fa fa-envelope-o"></span> brings you your emails. But never brings spam<br />
          With <span class="fa fa-envelope-o"></span> senders pay you a tiny fee to read their email<br />
        </p>
        <p>
          You're invited our private beta. Please sign up to recieve an
          invite!
        </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>
