<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Mailman</title>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <!-- MATERIAL -->
    <!-- Material Pallete -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <!-- Material -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <!-- Ripples -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <!-- Roboto -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
    <!-- Material -->
    <link rel="stylesheet" href="">
    <!-- Material -->
    <link rel="stylesheet" href="">

    <!-- Material JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>

  </head>
  <body>
    <div class="intro">

      <h1>Mailman</h1>
      <ol>
        <li>Encourage <span><span class="fa fa-envelope-o"></span>&nbsp;replies</span> with rewards&nbsp;<span class="fa fa-bitcoin"></span>&nbsp;</p></li>
        <li>Discourage <span class="fa fa-envelope-o"></span>&nbsp;spam with charges&nbsp;<span class="fa fa-bitcoin"></span></li>
      </ol>

    </div>

    <div class="signin-signup">
      <!-- show any messages that come back with authentication -->


      <div class="signin" id="signin">
        <form class="form-horizontal" action="/login" method="post">
            <fieldset>
                <legend>Signin</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">User</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputUser" name="user" placeholder="Username/Email" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" name="password" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
      </div>

      <div class="signup" id="signup" action="/signup" method="post">
        <form class="form-horizontal">
            <fieldset>
                <legend>Signin</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputUsername" name="username" placeholder="Username" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" name="email" placeholder="Email" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" name="password" placeholder="Password" type="password">
                    </div>
                </div>
                <%/* TODO confirm password*/%>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Confirm</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" placeholder="Confirm Password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
      </div>

    </div>

  </body>
</html>
