<% include includes/header.ejs %>

  <section>


    <div class="jumbotron">
      <div class="container">
        <h2>Meet Mailman <i class="fa fa-envelope-o"></i></h2>
        <p>
          Reward timely replies with Bitcoin, and filter spam with the Blockchain!
        </p>
      </div>
    </div>


    <div class="container">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="well">
            <p>
              <strong>Update</strong>: never in a million years did I think I'd win!
              After I made Mailman, I learnt that Mongodb for storing transactions is a bad
              idea. Hence I'm <strong>currently disabling Mailman's</strong> withdrawal functions!
              test it with a few coins, and I'll send those back to you manually. Emails should still
              work!<br />
              <strong>Please leave your email, and I'll get back to you once Mailman is live.</strong>
              Dear Alpha Tester <br />
              Welcome to Mailman. If you'd like access to the code,
              <a href="https://twitter.com/home?status=@amingilani hey, I'd like to review the source for mailman">
                          tweet for it.</a>
            </p>
            <p>
              Mailman has two primary functions:
              <ul>
                <li>
                  Reward replies:
                  <br /> Automatically notify and deliver rewards to recepients if they reply within 48 hours of your email.
                  <strong>Otherwise you get your money back.</strong>
                </li>
                <li>
                  Fight spam:
                  <br /> Issue users a custom "@mailman.ninja" email address which charges 200 bits to deliver the email.
                  <strongs>You recieve the fee.
                  </strongs>
                </li>
              </ul>
            </p>
            <p>
              Documentation:
              <br />
              <ol>
                <li>
                  Rewarding replies:
                  <ol>
                    <li>
                      Include CC: Mailman &lt;mailman@mailman.ninja&gt; in your email.
                    </li>
                    <li>
                      Pay invoice to the BTC address mailman issues.
                    </li>
                    <li>
                      Wait for the reply, mailman will handle the rest.
                      <br /> If you don't get a reply within 48 hours, Mailman will send you your money back.
                    </li>
                  </ol>
                </li>
                <li>
                  Charge for delivery: //=&gt;
                  <strong>Coming soon</strong>
                  <ol>
                    <li>
                      Sign up for Mailman. Recieve your custom email address.
                    </li>
                    <li>
                      Use your new email address in places where you expect spambots to harvest it.
                      <br />
                      <pre>$ git config --global user.email "john@mailman.ninja"
                        <br />&lt;a href="mailto:john@mailman.ninja"&gt;Email&lt;/a&gt;</pre>
                    </li>
                    <li>
                      Wait for people to email you, Mailman will handle the rest.
                    </li>
                  </ol>
                </li>
              </ol>
            </p>
            <p>
              Found a bug? Report it. <a href="https://github.com/mailmanhq/mailman/issues/new"><i class="fa fa-github"></i> Github</a> or <a href="mailto:bugs@mailman.ninja"><i class="fa fa-envelope-o"></i> Email</a>
              <br /> Need help or wanna say hey? <a href="https://www.reddit.com/r/mailman"><i class="fa fa-reddit"></i> Reddit</a> or <a href="mailto:hey@mailman.ninja"><i class="fa fa-envelope-o"></i> Email</a>
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div id="feedback-form-parent" class="well message-mail">
            <iframe src="https://docs.google.com/forms/d/1U4YzllFd31H2Rd-5etXBtnUfVg51JP0kqR8INDEJMCY/viewform?embedded=true" style="height:100%;width:100%;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <p>Things still left to do:</p>
            <ol>
              <li>Enable signups</li>
              <li>Make the website not look like a 5 year old made it</li>
              <li>HTML Emails</li>
              <li>Refactor code</li>
              <li>Open source it</li>
            </ol>
          </div>
        </div>
        <div class="col-md-6">
          <div id="attrib-icons" class="well">
            <ul>
              <li>Made in
                <br />
                <a href="https://en.wikipedia.org/wiki/Pakistan">
                  <img class="img-circle" src="img/icons/pakistan.png" alt="Pakistan" />
                </a>
              </li>
              <li>Uses
                <br />
                <a href="https://nodejs.org/">
                  <img class="img-circle" src="img/icons/nodejs.png" alt="Node.js" />
                </a>
              </li>
              <li>Distributed via
                <br />
                <a href="https://github.com/mailmanhq/mailman">
                  <img class="img-circle" src="img/icons/github.png" alt="Github" />
                </a>
              </li>
              <li>Deployed on
                <br />
                <a href="https://www.heroku.com/">
                  <img class="img-circle" src="img/icons/heroku.png" alt="Heroku" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <% include includes/footer.ejs %>
