<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Mailman</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-envelope-o"></span></h1>
             <h3>Done <span class="fa fa-heart"></span></h3>
                    <p>
                      Your email address <em><%= user.local.email %></em>
                      has been added to the invite list. You'll receive
                      an update soon!
                    </p>

      <a href="/logout" class="btn btn-default btn-sm"> Logout</a>
        </div>

    </div>

</div>
</body>
</html>
